*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #191765;
  color: #fff;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-style: normal;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-flex {
  display: flex;
  align-items: center;
}

.align-header {
  margin-top: 29px;
}

.align-header a {
  margin-left: 24px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.align-header .menubar {
  margin-right: 24px;
}

.nav-flex {
  display: none;
}

.background-circle {
  display: flex;
  justify-content: center;
}

.main-head {
  padding-bottom: 18px;
  margin: 91px 24px 0;
  justify-self: center;
}

.main-head h1 {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.37px;
  text-align: center;
}

.main-head h2 {
  color: #edecff;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}

section .main-paragraph {
  display: flex;
  text-align: center;
  justify-self: center;
  margin: 0 24px;
  font-size: 20px;
  line-height: 28px;
  vertical-align: top;
  color: #c8c8d4;
}

.hr-flex {
  display: block;
  margin: 24px auto;
  margin-top: 30px;
  margin-bottom: 0;
  width: 87%;
}

.hr-flex hr {
  border: 1px solid #646369;
}

.social-icon ul {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.social-icon ul li {
  margin-right: 20px;
  list-style-type: none;
}

.form-sect ul li {
  list-style-type: none;
}

.social-icon ul li:last-child {
  margin-right: 0;
}

.work-icon {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}

.work-icon img {
  margin-right: 10px;
  margin-top: 3px;
}

.work-icon p {
  color: #a2a3ae;
  font-size: 20px;
  font-weight: 500;
}

.grid {
  display: grid;
}

@media all and (max-width: 500px) {
  .header-flex {
    display: flex;
    justify-content: space-between;
  }

  .menubar {
    display: inline-block;
    cursor: pointer;
  }

  .vector1,
  .vector2,
  .vector3 {
    width: 33.33px;
    height: 2px;
    background-color: #acb7c3;
    margin: 10.42px 0;
  }

  .align-circle {
    margin-top: -50px;
    margin-bottom: 40px;
  }

  .background-circle {
    background: url(./asset/Ellipse_18.svg);
    background-repeat: no-repeat;
    text-align: center;
  }

  .main-head h2 {
    font-size: 32px;
    padding: 12px 12px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
  }

  .background-img {
    background: url(./asset/Ellipse_19.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 502px;
    right: 0;
    width: 85px;
    height: 200px;
  }

  .box-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .box-ul ul li {
    list-style-type: none;
  }

  .lang-frame {
    width: 80%;
    margin: 0 24px;
  }

  .box-size {
    width: 33.33%;
    margin: 37px 20px 0;
  }

  .box-size ul li {
    color: #f5f5ff;
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 20px;
  }

  .box-size ul li:first-child {
    margin-bottom: 25px;
    color: #9490ff;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .box-size ul li:last-child {
    margin-bottom: 0;
  }

  .work-profile {
    width: 88%;
    margin: 0 24px;
    color: #9490ff;
    font-size: 35px;
    font-weight: 400;
    line-height: 52px;
    margin-top: 84px;
  }

  .work-post-background {
    position: absolute;
    background: url(./asset/portfolio_background_shapes.svg);
    background-repeat: no-repeat;
    top: 1560px;
    right: 0;
    width: 100%;
    height: 440vh;
  }

  .work-container {
    width: 88%;
    height: 100%;
    margin: 24px auto;
  }

  .grid {
    grid-template-columns: 100%;
  }

  .placeholder {
    height: 230px;
    background: #fff;
  }

  .spc-style {
    margin-top: 48px;
  }

  .work-post .work-name {
    padding: 35px 0;
    margin: 24px 0;
  }

  .work-post .work-name h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
  }

  .work-post .work-desc p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #dcdce8;
  }

  .tools .tool-skill {
    margin: 24px 0;
  }

  .tools .tool-skill ul {
    display: flex;
    justify-content: space-around;
  }

  .tools .tool-skill ul li {
    list-style-type: none;
    border-right: 1px solid #555;
    padding: 10px 20px;
    font-family: "inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
  }

  .tools .tool-skill ul li:last-child {
    border: none;
  }

  .btn {
    padding: 12px;
    background-color: #7d73fc;
    color: #edecff;
  }

  .project-btn .btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .project-btn button:hover {
    color: white;
    filter: drop-shadow(0 8px 16px rgba(125, 115, 252, 0.48));
  }
}

.form-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-sect ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-section {
  height: 48px;
  width: 327px;
  border: 1px solid black;
}

.email-section {
  height: 48px;
  width: 327px;
  margin-top: 24px;
}

.message-section {
  width: 327px;
  height: 148px;
  margin-top: 24px;
}

.form-sect ul li button {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 40px;
}

.form-sect ul li button:enabled {
  background: rgba(125, 115, 252, 1);
  color: #edecff;
}

.form-sect ul li button:hover {
  background: rgba(125, 115, 252, 1);
  color: white;
  filter: drop-shadow(0 8px 16px rgba(125, 115, 252, 0.48));
}

.contact-us {
  margin-top: 120px;
  margin-bottom: 40px;
}

.contact-us h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
  color: rgba(147, 144, 255, 1);
}

.contact-us p {
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(245, 245, 255, 1);
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.footer {
  margin-bottom: 40px;
}

.footer .hr-flex {
  margin-top: 57px;
}

.footer .social-icon ul {
  margin-top: 25px;
}

.footer .footer-email {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
